/Semester 2/Algorithm & Data Structures/Lectures
*.exe
/Semester 1/Programming in C&C++/Grading-Criteria-C-C++.pdf
/Semester 2/Algorithm & Data Structures/.vscode
/.vscode
/Semester 2/Algorithm & Data Structures/Manuals
*.pyc
*.o
*.Algorithm
*.elf
Semester_3/Operating_System/Examples/build
/projects
semester_3/operating_system/src/c/build
semester_3/operating_system/homeworks/a10/build
**/target